# Entorno virtual
venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de log
*.log

# Archivos temporales
*.tmp
*.temp

# Ignorar todo en la carpeta data
data/*

# Pero mantener las carpetas necesarias 
!data/menu.json
